

#jumbotron {
	background-color: black;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center center;
}

#text-software {
}

#text-developer {
	font-weight: bold;
}

#aboutme {

}

#experience {
	background-color: #F1F1F2;
}

#demo-canvas {
	opacity: 0.4;
}

#portrait {
	display:block;
}

#timeline {
	margin-left:auto;
	margin-right:auto;
}

#timeline tr {
	height: inherit;
}

#timeline td {
	padding-top: 50px;
}

tr:first-child td{
	padding-top:0 !important;
}


#timeline .year {
	padding-right: 50px;
}

#timeline .logo {
	background-image: url("../images/exp/centreline.png");
}

#timeline .desc {
	padding-left: 50px;
}

#timeline .pos {
	color: #bbb;
}





/* COMMON*/

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.sectionContent {
	width: calc(100% - 100px);
	max-width: 1000px;
	margin-right:auto;
	margin-left: auto;
	text-align: justify;
	letter-spacing: 1px;

}

.centred {
	position:relative;
	left: 50%;
	transform: translateX(-50%);
}

.main-title {
	position:absolute;
	top: 60%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	text-align: center;
}

.full-vertical {
	height: 100vh;
}

.full-horizontal {
	width: 100vw;
}

.h3 {
	font-size: 5vh;
	letter-spacing: 1vw;
	opacity: 0.7;
}

h2 {
	margin:0;
	padding-bottom: 70px;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
}





/* ANIMATIONS */

@keyframes fadethisin {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadein {
    opacity: 0;
}

.fadedin {
	animation-name: fadethisin;
    animation-duration: 1.5s;
}

@keyframes slidethisinleft {
    from {left: -100%;}
    to {left: 0;}
}

@keyframes slidethisinright {
    from {left: 100%;}
    to {left: 0;}
}

.slidein-left {
	position:absolute;
	left: -100%;
}

.slidedin-left {
	position:relative;
	animation-name: slidethisinleft;
    animation-duration: 0.5s;
}

.slidein-right {
	position:absolute;
	left: 100%;
}

.slidedin-right {
	position:relative;
	animation-name: slidethisinright;
    animation-duration: 0.5s;
}





/*OVERRIDE*/
body {
	margin:0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	overflow-x: hidden;
}